.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 1rem 2rem;
    font-size: 2rem;
    color: rgb(68, 68, 67);
    text-shadow: 1px 1px solid white;
}

.nav {
    margin: 1.2rem 2rem;
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    background: linear-gradient(120deg, rgba(0,0,0,0.6), transparent 75%);
    border-radius: 5px;
}

.nav ul li {
    color: rgb(3, 39, 12);
    list-style: none;
    font-size: 1.4rem;
    margin-right: 4rem;
    text-shadow: 2px 2px 3px rgb(36, 36, 36);
    padding: 4px 6px;
    font-weight: lighter;
}

.nav li:hover {
    color: rgb(158, 209, 238);
    filter: drop-shadow(1px 1px 2px black);
}